<div class="base-terms">
  <% f.object.primary_terms.each do |term| %>
    <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>
<% if f.object.display_additional_fields? %>
  <%= link_to t('hyrax.works.form.additional_fields'),
      '#extended-terms',
      class: 'btn btn-default additional-fields',
      data: { toggle: 'collapse' },
      role: "button",
      'aria-expanded'=> "false",
      'aria-controls'=> "extended-terms" %>
  <div id="extended-terms" class='collapse'>
    <%= render 'form_media', f: f %>
    <% f.object.secondary_terms.each do |term| %>
      <%# OVERRIDE of app/views/hyrax/base/_form_metadata.html.erb for JournalArticle
          so that the "Part of" label shows "Periodical" instead %>
      <% if (f.object.multiple? term) && term == :part_of %>
        <%= f.input term, label: 'Periodical', as: :multi_value, input_html: { class: 'form-control' }, required: f.object.required?(term) %>
      <% elsif f.object.multiple? term %>
        <%= f.input term, as: :multi_value, input_html: { class: 'form-control' }, required: f.object.required?(term) %>
      <% else %>
        <%= f.input term, required: f.object.required?(term) %>
      <% end %>
    <% end %>
  </div>
<% end %>
